body{
  padding-left: 0px;
  background-size: cover;
  background-image: url("img4.png");
  background-repeat: no-repeat center center fixed;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}
/* 
body::after {
  background-size: cover;
  background-image: url("img3.png");
  background-repeat: no-repeat center center fixed;
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */



div#navbar {
  justify-content: center;
  display: flex;
}

div#navbar ul {
  text-align: center;
  justify-content: center;
  display: flex;
}

div#navbar li {
  list-style-type: none;
  display: inline;
  padding-right: 15px;
}
 

div#navbar li a {
 text-decoration: none;
}

div#navbar li a:hover{
 color: red;
 border-bottom: dashed 1px;
}

label {
  display: block;
  margin: 5px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 5px 30px 5px 30px;
  border-bottom: 1px solid #aaa;
}

h1{
	color:green;
}


h3{
	color:#ff0000;

}

footer{
	width:600px;
	/* border-top: dotted 1px; */
}

/* body::after {
  content: "";
  background-size: cover;
  background-image: url("img3.png");
  background-repeat: no-repeat;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */
